@charset "UTF-8";

:root {
	font-family: 'IBM Plex Sans', sans-serif;
	
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;

  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  
  --border-radi: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
	background-color: rgba(255,255,255,0.7);
}

section {
	width: 100%;
	padding-top: 100px;
}

.about_board_title {
	margin: 0px auto 20px auto;
	padding: 10px 0 0 60px;
	width: 70%;
	height: 50px;
	float: center;
	background-color: var(--color-light-white);
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
	border-radius: 10px;
}

.about_board_title > p {
	font-size: var(--font-medium);
	font-weight: bold;
	color: var(--color-dark-blue);
}

.about_box {
	margin: 20px auto;
	width: 70%;
	float: center;
	padding: 20px;
	background-color: var(--color-white);
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
	border-radius: 10px;
}