/** @format */

@charset "UTF-8";

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;

  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --border-radi: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 30vh;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
}
.footer-first {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-title {
  font-size: var(--font-medium);
  font-weight:bold;
}
.footer-mail,
.footer-address,
.footer-policy {
  font-size: var(--font-regular);
}

.footer-first-container {
  display: flex;
  height: 100%;
}

.first_title {
  font-size: var(--font-regular);
  font-weight: bold;
}
.footer-second {
 
  height:100%;
  width:400px;
  display:flex;
  font-size:var(--font-small);

}
.second-title{
	
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;
	font-size:var(--font-small);
}

.footer-third {

  height:100%;

  display:flex;

  justify-content:space-around;
  align-items:center;
}

.icon-list {
  width:450px;
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-between;
}
.icon-item {
  list-style: none;
}
.icon-link {
  width: 100%;
  display: flex;
  justify-content:space-around;
  font-size: 1.8rem;
  text-decoration: none;
  color: #b6bbc5;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2), -1rem -1rem 2rem #fff;
}
.icon-link:hover {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2),
    -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.95);
}

.icon-link:focus {
  box-shadow: inset 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2),
    inset -0.125rem -0.125rem 0.25rem rgba(255, 255, 255, 0.95);
}

i {
  margin: auto;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0px rgba(0, 0, 0, 0.5);
}