@charset "UTF-8";

:root {
	font-family: 'IBM Plex Sans', sans-serif;
	
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;

  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  
  --border-radi: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
	background-color: rgba(255,255,255,0.7);
}

section {
	width: 100%;
	height: 100vh;
	padding-top: 100px;
}

.free_board_title {
	margin: 0px auto 20px auto;
	padding: 10px 0 0 60px;
	width: 70%;
	height: 50px;
	float: center;
	background-color: var(--color-light-white);
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
	border-radius: 10px;
}

.free_board_title > p {
	font-size: var(--font-medium);
	font-weight: bold;
	color: var(--color-dark-blue);
}

.free_list, .free_one, .free_insert {
	margin: 10px auto 30px auto;
	width: 70%;
	align-items: center;
}

tr {
	height: 30px;
}

.free_list > tbody > tr:hover {
	background-color: var(--color-light-white);
}

th {
	background-color: var(--color-light-white);
	color: var(--color-dark-blue);
}

td {
	text-align: center;
}

#list_icon {
	padding-top: 5px;
	color: var(--color-dark-blue);
}

td > a {
	padding: 5px;
}

td > a:hover {
	font-weight: bold;
}

td > input[type="text"] {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: none;
	background-color: rgba(255,255,255,0);
}

.qbtnbar {
	border-top: 1px solid var(--color-light-grey);
}

.qcontents {
	border-top: 1px solid var(--color-light-grey);
	border-bottom: 1px solid var(--color-light-grey);
}

textarea {
	padding: 10px;
	border: none;
	overflow: auto;
	background-color: rgba(255,255,255,0);
}

td > input[type="button"],input[type="reset"],input[type="submit"] {
  /* 로그인 */
  margin: 4px 4px;
  padding: 5px 10px 0 10px;
  background: var(--color-white);
  color: var(--color-dark-grey);
  height: 30px;
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--btn-shadow);
}

td > input[type="button"]:hover {
  background-color: var(--color-light-blue);
  color: var(--color-black);
  border: none;
}

td > input[type="reset"]:hover {
  background-color: var(--color-red);
  color: var(--color-black);
  border: none;
}

td > input[type="submit"]:hover {
  background-color: var(--color-orange);
  color: var(--color-black);
  border: none;
}
.replycontainer{
	
	display:flex;
	flex-direction:column;
	align-items:center;
}
.replybox{
  
  width:800px;
}

.container{
  margin:0px;
  width:70%;
 
 
}