/** @format */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;
  --color-background: linear-gradient(145deg, #fefefe, #d5d5d5);
  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;
  --color-dark-grey: #363434;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --border-radi-title: 36px;
  --border-radi-btn: 20px;
  --box-shadow: 10px 10px 20px #b6b6b6, 
             -10px -10px 20px #ffffff;
}

/*헤더 전체*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  margin-top: 20px;
  left: 2%;
  width: 96%;
  height: 60px;
  border-radius: var(--border-radi-title);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  z-index: 10;
  /* border:2px solid blue; */ 
}

/* 헤더 */
.wrapper {
  padding: 10px;
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between; 
}

/*페이지 이름*/
.wrapper #header-bar {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
  align-content: center;
}

/*로고*/
.wrapper #header-bar span {
  display: block;
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
  letter-spacing: 10px;
}

#searchzone {
  display: flex;
  align-items: center;
}

.searchbtn {	
  margin: 5px 10px 5px 0px;
  padding: 5px 20px;
  background: var(--color-background);
  color: var(--color-black);
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--box-shadow);
}

.search > button:hover {
  background-color: var(--color-light-white); 
  color: var(--color-white);
  border: none;
}

input[type="text"] {
  display: inline-block;
  width: 300px;
  height: 36px;
  margin: 0;
  padding: 12px 7px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.wrapper a {
  text-decoration: none;
}

nav {
  display: flex;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login button {
  /*로그인*/
  margin: 5px 10px 5px 0px;
  padding: 5px 20px;
  background: var(--color-background);
  color: var(--color-black);
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow:  var(--box-shadow);
}

.login button:hover {
  background-color: var(--color-light-white); 
  color: var(--color-white);
  border: none;
}

.regist button {
  /*register*/
  margin: 5px 10px 5px 0px;
  padding: 5px 15px;
  background: var(--color-background);
  color: var(--color-black);
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--box-shadow);
 
}

.regist button:hover {
  border: none;
  background-color: var(--color-orange);
  color: white;
  
}
.hamburger {
	width: 80px;
	height: 80px;
}