	@charset "UTF-8";

* {
	margin:0;
	pardding:0;
	
}

#loginform{
	width:50%;
	padding-top: 10%;
	padding-left: 40%;
	
}


.onlogin{
  display: inline-block;
  width: 200px;
  height: 36px;
  margin: auto;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-sizing: border-box;
}



	
	
	
	


