@charset "UTF-8";

:root {
	font-family: 'IBM Plex Sans', sans-serif;
	
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #f7f7ff;
	--color-black: #000000;
	--color-blue: #577399;
	--color-light-blue: #bdd5ea;
	--color-dark-blue: #495867;
	--color-red: #fe5f55;
	--color-light-grey: #7c7979;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;

	/*Font size*/
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;
  
	--border-radi: 2px;
	--box-shadow: 2px 2px 6px #f7f7ff, -2px -2px 6px #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	background-color: rgba(255,255,255,0.7);
}

section {
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.htitle {
	margin: 0px auto 20px auto;
	padding: 10px 0 0 60px;
	width: 70%;
	height: 50px;
	float: center;
	background-color: var(--color-white);
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
	border-radius: 10px;
}

th {
	background-color: var(--color-light-white);
	color: var(--color-dark-blue);
	height: 24px;
}

td {
	text-align: center;
	height: 26px;
}

td > input[type="text"] {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: none;
	background-color: rgba(255,255,255,0);
}

.htitle > p {
	font-size: var(--font-medium);
	font-weight: bold;
	color: var(--color-dark-blue);
}

.msgBox {
	display: flex;
	padding: 20px;
	height: 70vh;
	width: 70%;
	border: none;
  	border-radius: var(--border-radi-btn);
  	box-shadow: var(--box-shadow);
}

.ldiv {
	border-right: 1px solid black;
	width: 100%;
	height: 100%;
}

.rdiv {
	height: 100%;
	width: 100%;
}

.list {
	margin: 10px 0 30px 0;
	align-items: center;
	width: 100%;
}

input[type="button"], input[type="submit"] {
  /* 로그인 */
  margin: 4px 4px;
  padding: 5px 10px 0 10px;
  background: var(--color-white);
  color: var(--color-dark-grey);
  height: 30px;
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--btn-shadow);
}

td > input[type="button"], input[type="submit"] {
  /* 로그인 */
  margin: 4px 4px;
  padding: 5px 10px 0 10px;
  background: var(--color-white);
  color: var(--color-dark-grey);
  height: 30px;
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--btn-shadow);
}