* {
	margin:0;
	pardding:0;
	
}

h1{
	padding-top: 5%;
}

section{
	padding-top: 5%;
}

h1{
	text-align: center;
	padding-bottom: 5%;
}


table{
  padding-bottom:10%;
  border-collapse: collapse;
  border-spacing: 0 15px;
  border-top: 1px solid #4444444;
  width: 40%;
  margin: 0 auto;
}


