/** @format */

:root {
  font-family: 'Montserrat', sans-serif;
  
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;
  --color-background: linear-gradient(145deg, #fefefe, #d5d5d5);
  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;
  --color-dark-grey: #363434;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --border-radi-btn: 20px;
  --box-shadow: 7px 7px 14px #b6b6b6, 
             -7px -7px 14px #ffffff;
}

* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

.first {	
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--color-white);
  /* background-image: url("../img/bg1.jpg"); */ 
  box-shadow: var(--box-shadow);
  flex-direction: column;
  background-repeat : no-repeat;
}

.first-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.first h1 {
  display: block;
  margin-left: 4%;
  font-size: var(--font-large);
  margin-bottom: 5px;
}

.maintext {
  margin-left: 4%;
  width: 50rem;
  font-size: var(--font-medium);
}

.second {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 0;
 
}

.second-wrapper {
  display: flex;
  justify-content: space-around;
}

.vod_cards_title {
  margin: 120px auto 20px auto;
  padding-top: 10px;
  width: 70%;
  height: 50px;
  float: center;
  background-color: var(--color-light-white);
  /* filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));*/
  border-radius: 10px;
  box-shadow:  5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
  display: flex;
  justify-content: center;
}

.vod_cards_title > p {
	font-size: var(--font-medium);
	font-weight: bold;
	text-align: center;
	color: var(--color-dark-blue);
}

.more_btn {
	margin-left: 10px;
	padding-top: 10px;
	float: center;
	cursor: pointer;
	z-index: 9;
}

.more_btn > a {
	margin-top: 10px;
	text-align: right;
	font-size: var(--font-micro);
}

.class_row {
	padding: 0 15% 0 15%;
	margin: 10px auto 20px auto;
	display: flex;
}

.class_card {
	width: 220px;
	height: 210px;
	margin: auto;
	background-color: var(--color-light-white);
	border-radius: 10px;
	/* filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1)); */
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
}

.class_title {
	font-size: var(--font-small);
	margin-top: 120px;
	height: 90px;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	background-color: var(--color-white);
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
}

.class_info {
	font-size: var(--font-micro);
	margin: 24px auto 0 auto;
	width: 40%;
	height: 30px;
	border-radius: 16px;
	text-align: center;
	background-color: var(--color-white);
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
}

.third {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 0;
 
}

.rtc_cards_title {
	margin: 120px auto 20px auto;
	padding-top: 10px;
	width: 70%;
	height: 50px;
	float: center;
	background-color: var(--color-light-white);
	/* filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));*/
	border-radius: 10px;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
	display: flex;
	justify-content: center;
}

.rtc_cards_title > p {
	font-size: var(--font-medium);
	font-weight: bold;
	text-align: center;
	color: var(--color-dark-blue);
}

.fourth {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
 
  display: flex;
  
  align-items: center;
  justify-content:space-around;
  
}


.fourth-wrapper{
	width: 70%;
	
	border-radius: 10px;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
	display:flex;
	justify-content: space-around;
	align-items:center;
	
}

.fourth-inner01{
	width:60%;
	height: 500px;
	
	color: var(--color-black);
	
	
}

.fourth-inner02{
	width:60%;
	height:500px;
	display:flex;
	justify-content:center;
	
}

.fourth-title{
	font-size: var(--font-medium);
	margin-bottom:5px;
	margin-top: 20px;
	margin-left:20px;
}
.fourth-inner-box{
	font-size: var(--font-regular);
	margin-bottom: 10px;
	margin-left:20px;
}

hr{
	width: 70%;
	height:10xp;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
	margin-bottom:10px;
	margin-left:20px;
	
	
}
.validate{
  margin-left: 20px;
}
.validatebtn {
  margin: 7px 10px 0 0;
  padding: 5px 15px;
  background: var(--color-white);
  color: var(--color-dark-grey);
  height: 34px;
  border: none;
  border-radius: var(--border-radi-btn);
  box-shadow: var(--btn-shadow);
}

.validatebtn:hover {
  background-color: var(--color-red);
  color: var(--color-black);
}

.fifth {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
 
  display:flex;
  justify-content:center;
  align-items:center;

}
.fifth-wrapper{
	width: 70%;
	height: 600px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
	display:flex;
	justify-content: space-around;
	align-items:center;
	
}
.fifth-title{
	font-size: var(--font-large);
	
}

.fifth-sub{
	font-size: var(--font-medium);
	
}

.contactbtn{
	margin: 5px 10px 5px 5px;
	padding: 5px 20px;
	color: var(- -color-black);
	border: none;
	border-radius: var(- -border-radi-btn);
	background-color: var(--color-white);
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
}


.mySlides {display: none;

}


img {vertical-align: middle;}
/*Scroll*/
.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	color: var(--color-black);
	background-color: transparent;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in;
	z-index: 9999;
}

.arrow-up.visible {
	opacity: 1;
	pointer-events: auto;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 1;
	transition: all 300ms ease;
}

/* header 스크롤시  컬러 변경용 */
#header.header--dark {
	background-color: rgba(255,255,255,0.7);
}
