@charset "UTF-8";

:root {
	font-family: 'IBM Plex Sans', sans-serif;
	
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7f7ff;
  --color-black: #000000;

  --color-blue: #577399;
  --color-light-blue: #bdd5ea;
  --color-dark-blue: #495867;
  --color-red: #fe5f55;
  --color-light-grey: #7c7979;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /*Font size*/

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  
  --border-radi: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
	background-color: rgba(255,255,255,0.7);
}

section {
	width: 100%;
	padding-top: 100px;
}

.streaming_title {
	margin: 0px auto 20px auto;
	padding: 10px 0 0 60px;
	width: 70%;
	height: 50px;
	float: center;
	background-color: var(--color-light-white);
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
	border-radius: 10px;
}

.streaming_title > p {
	font-size: var(--font-medium);
	font-weight: bold;
	color: var(--color-dark-blue);
}

#inputmenu {
	margin: 0px auto;
	width: 36%;
}

#roomid {
  display: inline-block;
  width: 200px;
  height: 36px;
  margin: auto;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-sizing: border-box;
}

#localvideo {
	float : left;
	margin-right: 20px;
}

#btn-open {
	margin-left: 10px;
}

#inputmenu > button {
	width: 50px; 
	height: 26px; 
	background: var(--color-white);
	color: var(--color-dark-grey);
	height: 34px;
	border: none;
	border-radius: var(--border-radi-btn);
	box-shadow: var(--btn-shadow);
}

#inputmenu > button:hover {
	border: none;
	background-color: var(--color-orange);
	color: var(--color-black);
}