<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<typeAliases>
		<typeAlias type="com.kh.onsu.study.model.dto.StudyDto" alias="studyDto" />
		<typeAlias type="com.kh.onsu.admin.model.dto.AdminDto" alias="AdminDto" />
		<typeAlias type="com.kh.onsu.admin.model.dto.AdminReportDto" alias="AdminReportDto" />
		<typeAlias type="com.kh.onsu.notice.model.dto.NoticeDto" alias="NoticeDto" />
		<typeAlias type="com.kh.onsu.calendar.model.dto.CalendarDto" alias="CalendarDto" />
		<typeAlias type="com.kh.onsu.qna.model.dto.QnaDto" alias="QnaDto" />
		<typeAlias type="com.kh.onsu.online.model.dto.ClassDto" alias="ClassDto" />
		<typeAlias type="com.kh.onsu.listen.model.dto.ListenWithDto" alias="ListenWithDto" />
		<typeAlias type="com.kh.onsu.listen.model.dto.ListenVideoDto" alias="ListenVideoDto" />
		<typeAlias type="com.kh.onsu.free.model.dto.FreeboardDto" alias="freeDto" />
		<typeAlias type="com.kh.onsu.reply.model.dto.ReplyDto" alias="ReplyDto" />
		<typeAlias type="com.kh.onsu.review.model.dto.ReviewDto" alias="ReviewDto"/>
		<typeAlias type="com.kh.onsu.study.image.model.dto.UploadDto" alias="imageDto"/>
		<typeAlias type="com.kh.onsu.study.model.dto.StudyImageDto" alias="studyImageDto"/>
		<typeAlias type="com.kh.onsu.pay.model.dto.PayDto" alias="PayDto"/>
		<typeAlias type="com.kh.onsu.study.video.model.dto.VideoDto" alias="videoDto"/>

		<typeAlias type="com.kh.onsu.live.model.dto.LiveDto" alias="liveDto"/>
		<typeAlias type="com.kh.onsu.message.model.dto.MessageDto" alias="MessageDto"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/admin-mapper.xml" />
		<mapper resource="/mybatis/report-mapper.xml" />
		<mapper resource="/mybatis/notice-mapper.xml" />
		<mapper resource="/mybatis/calendar-mapper.xml" />
		<mapper resource="/mybatis/qna-mapper.xml" />
		<mapper resource="/mybatis/auth-mapper.xml" />
		<mapper resource="/mybatis/class-mapper.xml" />
		<mapper resource="/mybatis/listenwith-mapper.xml" />
		<mapper resource="/mybatis/listenvideo-mapper.xml" />
		<mapper resource="/mybatis/freeboard-mapper.xml" />
		<mapper resource="/mybatis/reply-mapper.xml" />
		<mapper resource="/mybatis/review-mapper.xml" />
		<mapper resource="/mybatis/studyVideo-mapper.xml"/>
		<mapper resource="/mybatis/studyWith-mapper.xml"/>
		<mapper resource="/mybatis/imageUpload-mapper.xml"/>
		<mapper resource="/mybatis/pay-mapper.xml"/>
		<mapper resource="/mybatis/videoUpload-mapper.xml"/>
		<mapper resource="/mybatis/live-mapper.xml"/>
		<mapper resource="/mybatis/message-mapper.xml"/>

	</mappers>
	
</configuration>
