<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<typeAliases>
		<typeAlias type="com.kh.onsoo.study.model.dto.StudyDto" alias="studyDto" />
		<typeAlias type="com.kh.onsoo.admin.model.dto.AdminDto" alias="AdminDto" />
		<typeAlias type="com.kh.onsoo.admin.model.dto.AdminReportDto" alias="AdminReportDto" />
		<typeAlias type="com.kh.onsoo.notice.model.dto.NoticeDto" alias="NoticeDto" />
		<typeAlias type="com.kh.onsoo.calendar.model.dto.CalendarDto" alias="CalendarDto" />
		<typeAlias type="com.kh.onsoo.qna.model.dto.QnaDto" alias="QnaDto" />
		<typeAlias type="com.kh.onsoo.online.model.dto.ClassDto" alias="ClassDto" />
		<typeAlias type="com.kh.onsoo.listen.model.dto.ListenWithDto" alias="ListenWithDto" />
		<typeAlias type="com.kh.onsoo.listen.model.dto.ListenVideoDto" alias="ListenVideoDto" />
		<typeAlias type="com.kh.onsoo.free.model.dto.FreeboardDto" alias="freeDto" />
		<typeAlias type="com.kh.onsoo.reply.dto.ReplyDto" alias="ReplyDto" />
		<typeAlias type="com.kh.onsoo.review.model.dto.ReviewDto" alias="ReviewDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/study-mapper.xml" />
		<mapper resource="/mybatis/admin-mapper.xml" />
		<mapper resource="/mybatis/report-mapper.xml" />
		<mapper resource="/mybatis/notice-mapper.xml" />
		<mapper resource="/mybatis/calendar-mapper.xml" />
		<mapper resource="/mybatis/qna-mapper.xml" />
		<mapper resource="/mybatis/auth-mapper.xml" />
		<mapper resource="/mybatis/class-mapper.xml" />
		<mapper resource="/mybatis/listenwith-mapper.xml" />
		<mapper resource="/mybatis/listenvideo-mapper.xml" />
		<mapper resource="/mybatis/freeboard-mapper.xml" />
		<mapper resource="/mybatis/reply-mapper.xml" />
		<mapper resource="/mybatis/review-mapper.xml" />
	</mappers>
	
</configuration>
