<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onsoo.admin.memberboard">

	<resultMap type="AdminDto" id="AdminDtoMap">
		<result property="seq" column="SEQ"/>
		<result property="member_id" column="MEMBER_ID"/>
		<result property="member_pw" column="MEMBER_PW"/>
		<result property="member_name" column="MEMBER_NAME"/>
		<result property="member_gender" column="MEMBER_GENDER"/>
		<result property="member_email" column="MEMBER_EMAIL"/>
		<result property="member_addr" column="MEMBER_ADDR"/>
		<result property="member_phone" column="MEMBER_PHONE"/>
		<result property="member_birth" column="MEMBER_BIRTH"/>
		<result property="member_role" column="MEMBER_ROLE"/>
		<result property="member_ddate" column="MEMBER_DDATE"/>
		<result property="member_bdate" column="MEMBER_BDATE"/>
		<result property="member_document" column="MEMBER_DOCUMENT"/>
		<result property="member_regdate" column="MEMBER_REGDATE"/>
		<result property="enabled" column="ENABLED"/>
	</resultMap>
	
	<select id="selectList" resultMap="AdminDtoMap">
		SELECT * FROM MEMBER 
		ORDER BY MEMBER_REGDATE DESC
	</select>
	
	<select id="teacherList" resultMap="AdminDtoMap">
		SELECT * FROM MEMBER 
		WHERE MEMBER_ROLE = 'S' 
		ORDER BY MEMBER_REGDATE DESC
	</select>
	
	<!--회원가입  -->
	<insert id="insert" parameterType="AdminDto">
        INSERT INTO MEMBER
        VALUES(MEMBERSEQ.NEXTVAL,
                #{member_id},
                #{member_pw},
                #{member_name},
                #{member_gender},
                #{member_phone},
                #{member_email},
                #{member_addr},
                #{member_birth},
                'S',
                SYSDATE,
                NULL,
                NULL,
                NULL,
                1)
    </insert>
	
	<select id="selectOne" parameterType="String" resultType="AdminDto">
		SELECT * 
		FROM MEMBER 
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<update id="update" parameterType="AdminDto">
		UPDATE MEMBER
		SET MEMBER_ROLE = #{member_role} 
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="selectOne2" resultMap="AdminDtoMap">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{MEMBER_ID}
	</select>
	

	<select id="idchk"  resultType="_int">
		SELECT COUNT(member_id)
		FROM MEMBER 
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="emailchk" resultType="_int">
		SELECT COUNT(member_email)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>
	
	<select id="idfind" parameterType="String" resultType="AdminDto">
		SELECT MEMBER_ID,MEMBER_NAME
		FROM MEMBER
		WHERE MEMBER_EMAIL=#{member_email} AND MEMBER_NAME = #{member_name} 
	</select>
	
	<update id="pwfind" parameterType="AdminDto" >
		UPDATE MEMBER
		SET MEMBER_PW =#{member_pw}
		WHERE MEMBER_ID= #{member_id} AND MEMBER_NAME= #{member_name} AND MEMBER_EMAIL= #{member_email}
	</update>
	
	<select id="updatechk" parameterType="String" resultType="AdminDto">
		SELECT * 
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id} AND MEMBER_PW= #{member_pw}
	</select>
	
	<update id="registUpdate" parameterType="AdminDto">
		UPDATE MEMBER
		SET MEMBER_PW=#{member_pw}, MEMBER_EMAIL=#{member_email} , MEMBER_ADDR=#{member_addr}, MEMBER_PHONE=#{member_phone}, MEMBER_BIRTH=#{member_birth}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="teacherupload">
	
	</update>
	
	
	
</mapper>