<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auth">

	<!--권한 삽입 -->
	<insert id="Authinsert" parameterType="String">
		INSERT INTO J_authorities
		VALUES(#{member_id},'ROLE_USER')
	</insert>
	
	<update id="updateB" parameterType="String">
		UPDATE J_AUTHORITIES
		SET AUTHORITY= 'ROLE_BLOCK'
		WHERE MEMBER_ID = #{member_id}
	</update>
	
		
</mapper>
