<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="class">

	<select id="search" resultType="ClassDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_TEACHERID, CLASS_TEACHERNAME, CLASS_PRICE, CLASS_TYPE
		FROM J_CLASS
		WHERE CLASS_TITLE LIKE '%'||#{search}||'%'
	</select>
	
	<select id="selectOne" resultType="ClassDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_TEACHERID, CLASS_TEACHERNAME, CLASS_TYPE,
		CLASS_BIGCATEGORY, CLASS_SMALLCATEGORY, CLASS_INFO, CLASS_PRICE
		FROM J_CLASS
		WHERE CLASS_NO = #{class_no}
	</select>

</mapper>