<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="listenWith">

	<select id="selectList" resultType="ListenWithDto">
		SELECT LISTEN_WNO, LISTEN_WMEMBERID, LISTEN_WCLASSNO, LISTEN_WCOUNT, LISTEN_WCLASSTITLE
		FROM J_LISTEN_WITH
		WHERE LISTEN_WMEMBERID = #{member_id}
		ORDER BY LISTEN_WNO DESC
	</select>
	
	<insert id="insert" parameterType="ListenWithDto">
		INSERT INTO J_LISTEN_WITH
		VALUES(J_LISTENVIDEOSEQ.NEXTVAL, #{listen_wmemberid}, #{listen_wclassno}, 1, #{listen_wclasstitle})
	</insert>

</mapper>