<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.onsoo.notice">
	
	
	<!-- 리스트 -->
	<select id="selectList" resultType="NoticeDto">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT,NOTICE_REGDATE
		FROM NOTICE
	</select>
	
	<!-- 상세보기 -->
	<select id="selectOne" parameterType="int" resultType="NoticeDto">
		SELECT NOTICE_NO,NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGDATE
		FROM NOTICE
		WHERE NOTICE_NO =#{notice_no}
	</select>
	
	
	<!-- 글작성 -->
	<insert id="insert" parameterType="NoticeDto">
		INSERT INTO NOTICE
		VALUES(NOTICESEQ.NEXTVAL,#{notice_title},#{notice_content},SYSDATE)
	</insert>
	
	
	<!--수정  -->
	<update id="update" parameterType="NoticeDto">
		UPDATE NOTICE
		SET NOTICE_TITLE=#{notice_title}, NOTICE_CONTENT=#{notice_content}
		WHERE NOTICE_NO= #{notice_no}
	</update>
	
	
	<!--삭제   -->
	<delete id="delete" parameterType="int">
		DELETE FROM NOTICE
		WHERE NOTICE_NO= #{notice_no}
	</delete>

</mapper>
