<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pay">

	<resultMap type="AdminDto" id="AdminDto">
		<result column="seq" property="seq" />
		<result column="member_id" property="member_id" />
		<result column="member_name" property="member_name" />
		<result column="member_email" property="member_email" />
		<result column="member_addr" property="member_addr" />
	</resultMap>
	
	<resultMap type="ClassDto" id="ClassDto">
		<result column="class_title" property="class_title" />
		<result column="class_price" property="class_price" />
	</resultMap>

	<resultMap type="PayDto" id="PayDto">
		<collection property="AdminDto" resultMap="AdminDto" />
		<collection property="ClassDto" resultMap="ClassDto" />
	</resultMap>
	
	<select id="selectPay" parameterType="map" resultMap="PayDto">
		SELECT M.SEQ, M.MEMBER_ID, M.MEMBER_NAME, M.MEMBER_EMAIL, M.MEMBER_ADDR, C.CLASS_TITLE, C.CLASS_PRICE
		FROM MEMBER M JOIN PAY P ON M.MEMBER_ID = P.PAY_MEMBERID JOIN CLASS C ON C.CLASS_NO = P.PAY_CLASSNO
		WHERE P.PAY_MEMBERID = #{pay_memberid}
		AND P.PAY_CLASSNO = TO_NUMBER(#{pay_classno})
	</select>
	
	<insert id="insert" parameterType="PayDto">
		INSERT INTO PAY
		VALUES(PAYSEQ.NEXTVAL, #{pay_memberid}, #{pay_classno}, SYSDATE)
	</insert>
	
	
	
	

	

</mapper>