<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">

	<resultMap type="qnadto" id="qnaDtoResultMap">
		<result property="qnano" column="QNANO"></result>
		<result property="qnaqwriter" column="QNAQWRITER"></result>
		<result property="qnatitle" column="QNATITLE"></result>
		<result property="qnaqcontent" column="QNAQCONTENT"></result>
		<result property="qnaqregdate" column="QNAQREGDATE"></result>
		<result property="qnasecret" column="QNASECRET"></result>
		<result property="qnaresponse" column="QNARESPONSE"></result>
		<result property="qnaawriter" column="QNAAWRITER"></result>
		<result property="qnaacontent" column="QNAACONTENT"></result>
		<result property="qnaaregdate" column="QNAAREGDATE"></result>
	</resultMap>
	
	<!-- 목록 -->
	<select id="selectList" resultType="QnaDto">
		SELECT QNANO, QNAQWRITER, QNATITLE, QNASECRET, QNARESPONSE, QNAQREGDATE
		FROM QNA
		ORDER BY QNANO DESC
	</select>
	
	<!-- 상세 보기 -->
	<select id="selectOne" parameterType="int" resultType="QnaDto">
		SELECT QNANO, QNAQWRITER, QNATITLE, QNAQCONTENT, QNAQREGDATE, QNASECRET, QNARESPONSE, QNAAWRITER, QNAACONTENT, QNAAREGDATE
		FROM QNA
		WHERE QNANO = #{qnano}
	</select>
	
	<!-- 질문 작성 -->
	<insert id="insert" parameterType="qnadto">
		INSERT INTO QNA
		VALUES(QNANOSEQ.NEXTVAL, #{qnaqwriter}, #{qnatitle}, #{qnaqcontent}, SYSDATE, #{qnasecret}, 'N', NULL, NULL, NULL)
	</insert>
	
	<!-- 수정 -->
	<update id="update" parameterType="qnadto">
		UPDATE QNA
		SET QNATITLE = #{qnatitle}, QNAQCONTENT = #{qnaqcontent}
		WHERE QNANO = #{qnano}
	</update>
	
	<!-- 답변 -->
	<update id="answer" parameterType="qnadto">
		UPDATE QNA
		SET QNAAWRITER = #{qnaawriter}, QNAACONTENT = #{qnaacontent}, QNAAREGDATE = SYSDATE, QNARESPONSE = 'Y'
		WHERE QNANO = #{qnano}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM QNA
		WHERE QNANO = #{qnano}
	</delete>

</mapper>
