<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onsoo.admin.reportboard">

	<resultMap type="AdminReportDto" id="AdminReportDtoMap">
		<result property="report_no" column="REPORT_NO"/>
		<result property="report_title" column="REPORT_TITLE"/>
		<result property="report_content" column="REPORT_CONTENT"/>
		<result property="report_date" column="REPORT_DATE"/>
		<result property="report_filename" column="REPORT_FILENAME"/>
		<result property="report_id" column="REPORT_ID"/>
		<result property="report_ided" column="REPORT_IDED"/>
		<result property="report_category" column="REPORT_CATEGORY"/>
	</resultMap>
	
	<select id="selectList" resultMap="AdminReportDtoMap">
		SELECT * FROM REPORT
	</select>
	
	<select id="selectOne" parameterType="int" resultType="AdminReportDto">
		SELECT *
		FROM REPORT
		WHERE REPORT_NO = #{report_no}
	</select>
	
	<insert id="insert" parameterType="java.util.List">
		INSERT INTO REPORT		
		VALUES(REPORT_SEQ.NEXTVAL,NULL,#{report_content},SYSDATE,#{report_filename},#{report_id},#{report_ided},#{report_category} )
	</insert>

	<!-- <insert id="insert" parameterType="java.util.List"> 
	
		INSERT INTO CLASSIMAGE(image_no, image_directory, class_no)
		SELECT IMAGESEQ.NEXTVAL AS image_no, A.* FROM(
		<foreach collection="list" item="i" separator="UNION ALL">
			SELECT #{i.image_directory} as image_directory,
				   #{i.class_no} as class_no
			from dual
		</foreach>
		)A
	</insert>  -->
</mapper>